{% extends 'base.html' %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum non tenetur ab nihil dolores laborum ullam 
            quisquam voluptatum. Saepe, molestias impedit vitae sapiente omnis at laudantium labore unde fuga ea incidunt 
            non praesentium consequatur itaque corrupti hic cumque nemo eaque eos doloremque! Laboriosam odit laudantium 
            fuga veniam beatae, voluptatem sit aut sint dolore reprehenderit velit itaque eum alias distinctio quisquam 
            minus similique, hic saepe maiores quod magni. Nostrum quos harum, veniam beatae culpa autem dolorum adipisci 
            quisquam ipsam quo molestiae obcaecati suscipit vitae ut exercitationem hic quod cumque error quam nihil eum? 
            Debitis recusandae cumque ad distinctio in sed alias.</p>

            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
        </section>
    </main>
        
{% endblock %}
